
$fontMonoton:'Monoton';
$fontMonofett: 'Monofett';
$fontFredoka: 'Fredoka+One';
$fontRighteous: 'Righteous';
$fontDamion:'Damion';



@font-face {
    font-family: 'Showboat';
    src:url('fonts/Showboat.ttf.woff') format('woff'),
        url('fonts/Showboat.ttf.svg#Showboat') format('svg'),
        url('fonts/Showboat.ttf.eot'),
        url('fonts/Showboat.ttf.eot?#iefix') format('embedded-opentype');
    font-weight: normal;
    font-style: normal;
}

img {
  width:70vw;
  height:15vh;
  position: relative;
  bottom: 40vh;
  left: -8%;
  transform:rotate(90deg);
}

.homePage {
  border-style: solid;
  border-color: white;
  border-width: thick;

}

#party {
  letter-spacing: 2px;
  text-align: left;
  line-height: 9vh;
  font-size: 3.7rem;
  // float:left;
  position: relative;
  bottom:13%;
  right:30%;


}
#host {
  text-align: center;
  font-weight: 500;
  // font-style: italic;
}
#letterA{
  line-height:30vh;
  font-size: 7.5rem;
  position: relative;
  top: -6%;
}

#homeHostPartyBtn {
  background-image: url("../img/homeHostParty1.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
  color: white;
  // line-height: 175%;
  padding-top: 3vh;
  width:50%;
  height: 75vh;
  font-family: 'Showboat';
  font-size: 39px;
  float: left;
  padding-bottom: 40px;

}

#homeAllPartyBtn{
  clear:both;
  background-image: "../img/viewParties1.jpg";
  background-position: center;
  background-size: 50%;
  height: 25vh;
  line-height: 5vh;
  padding-top: 11%;
  font-family: $fontMonoton;
  text-align: center;
  font-size: 55px;
  color:rgb(255, 148, 215);

}

#homeManagePartyBtn {
  background-color: green;
  height:37.5vh;

}

#homeProfileBtn {
  background-color: purple;
  height:37.5vh;
}
