
$fontMonoton:'Monoton';
$fontMonofett: 'Monofett';
$fontFredoka: 'Fredoka+One';
$fontRighteous: 'Righteous';
$fontDamion:'Damion';
$fontMarker: "Permanent Marker";



@font-face {
    font-family: 'Showboat';
    src:url('fonts/Showboat.ttf.woff') format('woff'),
        url('fonts/Showboat.ttf.svg#Showboat') format('svg'),
        url('fonts/Showboat.ttf.eot'),
        url('fonts/Showboat.ttf.eot?#iefix') format('embedded-opentype');
    font-weight: normal;
    font-style: normal;
}


img {
  width:70vw;
  height:15vh;
  position: relative;
  bottom: 40vh;
  left: -8%;
  transform:rotate(90deg);
}

.homePage {
  border-style: solid;
  border-color: #f1f1f1;
  border-width: 2px;
}

#party {
  letter-spacing: 2px;
  text-align: left;
  line-height: 9vh;
  font-size: 3.7rem;
  // float:left;
  position: relative;
  bottom:13%;
  right:30%;


}
#host {
  text-align: center;
  font-weight: 500;
  font-size: 3rem;
  // font-style: italic;
}
#letterA{
  line-height:30vh;
  font-size: 7.0rem;
  position: relative;
  top: -6%;
}

#homeHostPartyBtn {
  background-image: url("../img/homeHostParty1.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
  color: white;
  // line-height: 175%;
  padding-top: 3vh;
  width:50%;
  height: 75vh;
  font-family: 'Showboat';
  font-size: 39px;
  float: left;
  padding-bottom: 40px;
}

#homeAllPartyBtn{
  clear:both;
  background-image: url("../img/viewParties1.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size:300%;
  height: 25vh;
  line-height: 6.5vh;
  padding-top: 8%;
  font-family: $fontMonoton;
  text-align: center;
  font-size: 3.5rem;
  color:#ff94d7;
  text-shadow: 0 0 2px #ff94d7, 0 0 5px #ff94d7, 0 0 6px #ff94d7;
  font-weight: 500;

}

#homeManagePartyBtn {
  background-image: url("../img/manageParty1.jpg");
  height:37.5vh;
  padding-top: 8vh;
  text-align: center;
  background-repeat: no-repeat;
  background-position: -20px -110px;

}

#manage {
  position: relative;
  font-size: 2.3rem;
  letter-spacing: 2px;
  left:.5%;
  top:20%;
}

#manageWordParty{
  position: relative;
  font-size: 3rem;
  top:25%;
  left:1%;
  letter-spacing: 5px;

}

.managePartyText {
  position:relative;
  font-family: $fontRighteous;
  font-size: 3rem;
  line-height: 7vh;
  color: rgba(#fee820, 0.95);
  font-weight: bold;
  text-shadow:   0px 0px 15px #ff0e0e,
                  0px 0px 15px #fa0eff,
                -5px 10px 2px rgba(#f6d76a, 0.87),
                 -10px 20px 2px rgba(#fff7ad, 0.64),


}

#homeProfileBtn {
  background-image: url("../img/profileimage.jpg");
  background-repeat: no-repeat;
  background-position: -20px 0px;
  background-size: 140%;
  padding-top: 3%;
  height:37.5vh;
  font-family: $fontMarker;
  text-align: left;

  }

.profileWords {
  font-size: 2.9em;
  color:#c1f6f3;
  text-shadow: 0px 0px 10px #c1f6f3;
}
