<ion-view>
  <ion-content>
    <div class="list">
      <label class="item item-input">
        <span class="input-label">Username</span>
        <input
          ng-model="username"
          type="text">
      </label>
      <label class="item item-input">
        <span class="input-label">Password</span>
        <input
          ng-model="password"
          type="password">
      </label>
    </div>
    <button
      ng-click="login(username, password)"
      class="button button-full button-positive">
     Login
    </button>
    <button
      ng-click="signUp()"
      class="button button-full button-assertive">
      Create New User
    </button>
    <button
    ng-click="invite()"
    class="button button-full button-positive">
    Testing
  </button>
  </ion-content>
</ion-view>
