<ion-view>
  <ion-content>
    <div class="list">
      <label class="item item-input item-floating-label">
        <span class="input-label"><strong>Username: </strong></span>
        <input ng-model="username" type="text" placeholder="Enter Your Username">
      </label>
      <label class="item item-input item-floating-label">
        <span class="input-label"><strong>Password: </strong></span>
        <input ng-model="password"  type="text" placeholder="Enter Your Password">
      </label>
    </div>
    <button
      ng-click="login(username, password)"
      class="button button-full button-positive">
       Login
    </button>
    <button
      ng-click="signUp()"
      class="button button-full button-assertive animate-fade-slide-in-right">
      Create New User
    </button>
    <button
      ng-click="invite()"
      class="button button-full button-positive">
      Testing
    </button>
    <button
      ng-click="dog()"
      class="button button-full button-positive">
      Lemme get dat contact
    </button>
  </ion-content>
</ion-view>
