
<ion-view>
  <ion-content>
    <div class="button-bar">
      <a  class='button button-positive icon-left ion-home' href="#/wizard">gooooooo</a>
      <!-- <a class='button button-positive icon-left ion-home' name="wizard-nameType" href='#/wizard/name-type'>Home</a> -->
      <!-- <a class='button button-calm icon-left ion-home' name="wizard-subType" href='#/wizard/subtype'>View Parties</a> -->
    </div>
    <div class="button-bar">
      <a class='button button-balanced icon-left ion-home' href='#/wizard'>Host Party</a>
      <a class='button button-energized icon-left ion-home' href='#/wizard'>Manage Party</a>
    </div>
    <div class="button-bar">
      <a class='button button-assertive icon-left ion-home' href='#/wizard'>Settings</a>
      <a class='button button-royal icon-left ion-home' href='#/wizard'>Second</a>
    </div>
  </ion-content>
</ion-view>
