<ion-view title="Manage Your Party">
  <ion-nav-bar class="bar-stable">
    <ion-nav-back-button class='button button-small icon-left ion-chevron-left button-clear button-dark'>
    </ion-nav-back-button>
  </ion-nav-bar>
  <div class="bar bar-header bar-royal">
      <h1 class= "title">Let's Manage Parties</h1>
   </div>
  <ion-content ng-init="loadOne();loadOneFavor();loadInvitedPeople()">
      <ion-item>
        <label>
          <span class="input-label">
            <h1>{{oneParty.partyName}}</h1>
          </span>
        </label>
        <h2>{{oneParty.partyType}} Party</h2>
        <h2><strong>The Stretch Goal is : </strong>{{oneParty.stretchName}}</h2>
        <progress></progress>
        <h2><strong>Party Date: </strong>{{oneParty.partyDate | date: 'short'}}</h2>
      </ion-item>
        <ion-list>
          <ion-toggle ng-model="shouldShowDelete">
            <strong>Remove Favors?</strong>
          </ion-toggle>
            <ion-list show-delete="shouldShowDelete">
            <ion-item ng-repeat="favor in onePartyFavor">
              <ion-delete-button
                ng-click="onePartyFavor.splice($index, 1)"
                class="ion-minus-circled"></ion-delete-button>
              doodad{{favor.favorName}}
            </ion-item>
          </ion-list>
          <ion-list
              can-swipe="listCanSwipe">
            <strong>Guest List</strong>
            <ion-item ng-repeat="invitee in inviteList">
              <ion-option-button
                ng-click=""
                class="ion-ios-telephone button-positive"></ion-option-button>
              {{invitee.name}}
            </ion-item>
          </ion-list>
          <!-- <ion-item ng-repeat="invitee in inviteList">
            <h3>{{invitee.name}}</h3>
            <ion-option-button class="icon ion-ios-telephone-outline button-positive"
                               ng-click="alert('{{invitee.name}}')">
                               Remind
            </ion-option-button>
          </ion-item> -->
        </ion-list>
  </ion-content>
</ion-view>
