<ion-view view-title="Home">
  <ion-content>
    <div class="button-bar topBar">
      <a id="homeHostPartyBtn" class='splashNav button button-positive icon-left ion-home' ng-click="wizardGo()">Host A Party</a>
      <a id="homeAllPartyBtn" class='splashNav button button-calm icon-right ion-home ng' ng-click="allPartiesGo()">View Parties</a>
    </div>
    <div class="button-bar">
      <a id="homeProfileBtn" class='splashNav button button-balanced icon-left ion-home' ng-click='profileGo()'>View Profile</a>
      <a id="homeManagePartyBtn" class='splashNav button button-energized icon-right ion-home'ng-click="managePartyGo()">Manage Party</a>
    </div>
  </ion-content>
</ion-view>
