<ion-view view-title="Home">
  <ion-content>
    <div id="homeHostPartyBtn" class="homePage" ng-click="wizardGo()"><span id="host">HOST</span><br><span id="letterA">A</span> <span id="party"><br>P<br>A<br>R<br>T<br>Y<br></span><img src="../../../img/whitefinger.png"></div>
    <div id="homeManagePartyBtn" class="homePage" ng-click="managePartyGo()"><span class="managePartyText" id="manage">Manage</span> <span class="managePartyText" id="manageWordParty">Party</span></div>
    <div id="homeProfileBtn" class="homePage" ng-click='profileGo()'><span class="profileWords"><span id="profileWordView">View</span> <span id="pofileWordProfile">Profile</span></span></div>
    <div id="homeAllPartyBtn" class="homePage" ng-click="allPartiesGo()">View PARTIES</div>
    <!-- <div id="logout" class="homePage" ng-click="logOut()">Log Out</div> -->
  </ion-content>
</ion-view>
