  <ion-tabs class="tabs-icon-top tabs-color-active-royal">


      <ion-tab title="Home" class="icon ion-home">
        <ion-nav-view name="tab-home"></ion-nav-view>
      </ion-tab>


      <ion-tab title="Parties" class="icon ion-pizza">
        <ion-nav-view name="tab-parties"></ion-nav-view>
      </ion-tab>

      <ion-tab title="Test Tickle" icon-on="ion-ios-gear">
        <ion-nav-view name="tab-test-tickle"></ion-nav-view>
      </ion-tab>
      <ion-tab title="Settings" class="icon ion-gear-a">
        <ion-nav-view name="tab-settings"></ion-nav-view>
      </ion-tab>

  </ion-tabs>
