<ion-view view-title="All Your Parties">
  <ion-content>
    <div class= "list">
      <div class="item item-divider">
        <h2>Parties You Are Hosting</h2>
      </div>
        </div>
        <ion-item
        ui-sref="manageParty({partyID: party.partyID})"
        ng-repeat="hostParty in hostedParties track by $index"
        class="card"
        ng-model="hostParty"
        ng-click="getOneHostParty(hostParty)">
        <div class= "item item-text-wrap item-icon-right">
          <h2>{{hostParty.partyName}}</h2>
          <h3>{{hostParty.description}}</h3>
          <p>{{hostParty.partyDate | date: 'short'}}</p>
          <i class="icon ion-chevron-right"></i>
        </div>
      </ion-item>
      <div class="item item-divider">
        Parties You Are Invited To
      </div>
      <ion-item
          ui-sref= "invitedParty({partyID: invParty.partyID})"
          ng-repeat= "invParty in invitedParties track by $index"
          ng-model="invParty"
          ng-click="getOneInvParty(invParty)"
          class="card">
          <div class= "item item-text-wrap item-icon-right">
            <h2>{{invParty.partyName}}</h2>
            <h3>{{invParty.description}}</h3>
            <p>{{invParty.partyDate | date: 'short'}}</p>
            <i class="icon ion-chevron-right"></i>
          </div>
          <div class= "item item-text-wrap">
            {{invParty.partyDate | date}}&nbsp&nbsp&nbsp&nbsp&nbsp
            {{invParty.street1}}
            {{invParty.street2}},
            {{invParty.city}}
            {{invParty.zip}}
          </div>
        </ion-item>
        <div class="item item-text-wrap">
        {{invParty.description}}
        </div>
        <div class="item item-divider">
        {{invParty.partyDate | date}}&nbsp&nbsp&nbsp&nbsp&nbsp
        {{invParty.street1}}
        {{invParty.street2}},
        {{invParty.city}}
        {{invParty.zip}}
        </div>
      </div>
    </div>
  </ion-content>
</ion-view>
