<ion-view view-title="Parties">
  <ion-content>
    <div class= "list">
      <div class="item item-divider">
        Parties you are Hosting
      </div>
      <div ng-repeat= "hostParty in hostedParties track by $index" class="card">
        <div class="item item-divider">
        {{hostParty.partyName}}
        </div>
        <div class="item item-text-wrap">
        {{invParty.description}}
        {{invParty.street1}}
        {{invParty.street2}},
        {{invParty.city}}
        {{invParty.zip}}
        </div>
        <div class="item item-divider">
        {{hostParty.partyDate | date: 'short'}}
        </div>
      </div>
      <div class="item item-divider">
        Parties Invited To
      </div>
      <div ng-repeat= "invParty in invitedParties track by $index" ng-model='invParty' ng-click="getOneInvParty(invParty)" class="card">
        <div ui-sref= "invitedParty({partyID: invParty.partyID})" class="item item-divider">
        {{invParty.partyName}}
        </div>
        <div class="item item-text-wrap">
        {{invParty.description}}
        </div>
        <div class="item item-divider">
        {{invParty.partyDate | date}}&nbsp&nbsp&nbsp&nbsp&nbsp
        {{invParty.street1}}
        {{invParty.street2}},
        {{invParty.city}}
        {{invParty.zip}}
        </div>
      </div>
    </div>
  </ion-content>
</ion-view>
