<ion-view>
  <ion-nav-bar class="bar-stable">
    <ion-nav-back-button class='button button-small icon-left ion-chevron-left button-clear button-dark'>
    </ion-nav-back-button>
  </ion-nav-bar>
  <div class="bar bar-header bar-royal">
      <h1 class= "title">Check/Uncheck Your Favors</h1>
   </div>
  <ion-content>
    <ul class="list">
      <div class="item item-divider">
        Commonly Bought Favors For Christmas Party:
      </div>
      <div class="list">
        <div class="item item-input-inset">
          <label class="item-input-wrapper">
            <input
              ng-model="newFavor"
              type="text"
              placeholder="Add Your Own">
          </label>
          <button
            ng-click="addFavorToData(newFavor)"
            class="button button-small">
            Submit new Favor
          </button>
        </div>
      </div>
      <ion-checkbox
        id="{{item.favorID}}"
        ng-repeat="item in favors"
        ng-click="isChecked = !isChecked"
        >
        <ion-item
          ng-model="isChecked"
          ng-class="isChecked ? 'true' : 'false'">
          {{item.favorName}}
        </ion-item>
      </ion-checkbox>

    </ul>
    <button
      ng-click="favorPatch()"
      class="button button-full button-positive">
      Submit Your Favors
    </button>
  </ion-content>
</ion-view>
