<ion-view class="wizard">
  <ion-nav-bar class="bar-stable">
    <ion-nav-back-button class="button-clear">
      <i class="ion-arrow-left-c"></i>
    </ion-nav-back-button>
  </ion-nav-bar>
  <div class=" wizardHeader bar bar-header bar-royal">
      <h1 class= "title">CHECK/UNCHECK YOUR FAVORS</h1>
   </div>
  <ion-content>
    <ul class="list">
      <div class="item item-divider">
        COMMONLY BOUGHT FAVORS FOR YOUR PARTY TYPE:
      </div>
      <div class="list">
        <div class="item item-input-inset">
          <label class="item-input-wrapper">
            <input
              ng-model="favorDoo"
              type="text"
              placeholder="Add Your Own">
          </label>
          <button
            ng-click="addFavorToData(favorDoo)"
            class="button button-small">
            Submit new Favor
          </button>
        </div>
      </div>
      <button
        ng-click="pushToFavorArray()"
        class="button button-full button-positive">
        SUBMIT YOUR FAVORS
      </button>
      <ion-checkbox
        ng-repeat="item in favors | filter: favorDoo"
        ng-click="favorCheck = !favorCheck">
        <ion-item
          ng-model="favorCheck"
          id="{{item}}"
          ng-class="favorCheck ? 'yes' : 'no'">
          {{item.favorName}}
        </ion-item>
      </ion-checkbox>
    </ul>
  </ion-content>
</ion-view>
