<ion-view>
  <ion-nav-bar class="bar-stable">
    <ion-nav-back-button class='button button-small icon-left ion-chevron-left button-clear button-dark'>
    </ion-nav-back-button>
  </ion-nav-bar>
  <div class="bar bar-header bar-royal">
      <h1 class= "title">Let the People Know!</h1>
   </div>
  <ion-content ng-init="getContactList()">
    <ion-padding>
      <button
        ng-click="pushToContactArray()"
        class="button button-full button-positive">
        INVITE!
      </button>
      <ion-list>
        <ion-checkbox
        ng-click="isChecked =!isChecked"
        ng-repeat="contact in contactName"
        >
          <ion-item
        ng-model="isChecked"
        id="{{contact}}"
        ng-class="isChecked ? 'true' : 'false'"
        >
        {{contact.name.formatted}}
          </ion-item>
        </ion-checkbox>
      </ion-list>
    </ion-padding>
  </ion-content>
</ion-view>
