<ion-view class="wizard">
  <ion-nav-bar class="bar-stable">
    <ion-nav-back-button class='button button-small icon-left ion-chevron-left button-clear button-dark'>
    </ion-nav-back-button>
  </ion-nav-bar>
  <div class=" wizardHeader bar bar-header bar-royal">
      <h1 class= "title">INVITE YOUR FRIENDS</h1>
   </div>
  <ion-content ng-init="getContactList()">
    <button
      ng-click="pushToContactArray();showConfirm()"
      class="button button-full button-positive">
      INVITE CONTACTS
    </button>
    <ul class="list">
      <ion-checkbox
        ng-repeat="item in contactName"
        ng-click="isChecked = !isChecked">
        <ion-item
          ng-model="isChecked"
          id="{{item}}"
          ng-class="isChecked ? 'true' : 'false'">
          {{item.name.formatted}}
        </ion-item>
      </ion-checkbox>

    </ul>

  </ion-content>
</ion-view>
