<ion-view>
   <ion-nav-bar class="bar-stable">
     <ion-nav-back-button class='button button-small icon-left ion-chevron-left button-clear button-dark'>
     </ion-nav-back-button>
   </ion-nav-bar>
   <div class="bar bar-header bar-royal">
       <h1 class= "title">Let's Get This Party Started</h1>
    </div>
    <ion-content>
     <ion-padding>
       <ion-item class="item-input item-select">
        <div class="input-label">
          <strong>What Kind of Party?</strong>
        </div>
        <select ng-model="partyType" ng-change='getValue(partyType)'>
          <option ng-repeat="item in wizardItems.data track by $index" value='{{item}}'>{{item.partyType}}</option>
        </select>
      </ion-item>
      <label class="item item-input item-floating-label">
        <span class="input-label"><strong>Party Name: </strong></span>
        <input ng-model="partyName" type="text" placeholder="Name that party">
      </label>
      <label class="item item-input">
         <span class="input-label"><strong>Where the Party At? </strong></span>
         <ion-google-place placeholder= "Enter an Address, Apt#, and ZIP" ng-model="location"></ion-google-place>
      </label>
      <label class="item item-input">
         <span class="input-label"><strong>Date and Time: </strong></span>
         <input placeholder= "Pick a Date and Time" ng-model="partyDate" type="datetime-local">
       </label>
     <button
       ng-click="newWizPartyPost(partyType, location, partyName, partyDate)"
       class="button button-full button-positive">
      Submit Party Name and Type
     </button>
  </ion-padding>
 </ion-content>
</ion-view>


<!--2.0 <ion-item ng-show="partyType" class="item-input item-select ng-hide">
 <div class="input-label">
   <strong>Does Your Party Have a SubType?</strong>
 </div>
 <select ng-model="subTypeVal" ng-change='getSubValue(subTypeVal)'>
   <option ng-repeat="item in subType track by $index" value='{{item}}'>{{item}}</option>
 </select>
</ion-item> -->
