<ion-view class="wizard">
   <ion-nav-bar class="bar-stable">
     <ion-nav-back-button class='button button-small icon-left ion-chevron-left button-clear button-dark'>
     </ion-nav-back-button>
   </ion-nav-bar>
   <div class="wizardHeader bar bar-header">
       <h1 class= "title-text-wrap"><span class="textViewHeader">LET'S GET THIS PARTY STARTED</span></h1>
    </div>
    <ion-content>
     <ion-padding>
       <ion-item class="item-input item-select">
        <div class="item-text-wrap input-label">
          WHAT KIND OF PARTY?
        </div>
        <select ng-required ng-model="partyType" ng-change='getValue(partyType)'>
          <option ng-repeat="item in wizardItems.data track by $index" value='{{item}}'>{{item.partyType}}</option>
        </select>
      </ion-item>
      <label class="item item-input item-floating-label">
        <span class="input-label">PARTY NAME:</span>
        <input ng-model="partyName" type="text" placeholder="NAME THAT PARTY">
      </label>
      <label class="item item-input">
         <span class="item-text-wrap input-label">WHERE?</span>
         <ion-google-place class="wizard" placeholder= "ADDRESS, ZIP" ng-model="location"></ion-google-place>
      </label>
      <label class="item item-input">
         <span class="item-text-wrap input-label">DATE | TIME:</span>
         <input class="wizardDateTime" placeholder= "Pick a Date and Time" ng-model="partyDate" type="datetime-local">
       </label>
        <button
        ng-click="newWizPartyPost(partyType, location, partyName, partyDate)"
        class="bar bar-footer button button-full button-assertive">
        Submit
       </button>
  </ion-padding>
 </ion-content>
</ion-view>


<!--2.0 <ion-item ng-show="partyType" class="item-input item-select ng-hide">
 <div class="input-label">
   <strong>Does Your Party Have a SubType?</strong>
 </div>
 <select ng-model="subTypeVal" ng-change='getSubValue(subTypeVal)'>
   <option ng-repeat="item in subType track by $index" value='{{item}}'>{{item}}</option>
 </select>
</ion-item> -->
