


  <ion-content>

    <h1>EVENT WIZARD - FIRST PAGE</h1>
    <a class='button button-calm icon-left ion-home' href='#/wizard/subtype'>View Parties</a>
    <a class='button button-calm icon-left ion-home' href='#/wizard/whenwhere'>View Dog</a>
    <ion-nav-bar title="schindig" class="bar-energized nav-title-slide-ios7">
      <ion-nav-back-button class="button-clear">
        <i class="ion-arrow-left-c"></i> Back
      </ion-nav-back-button>
    </ion-nav-bar>
    <div class = "list inset-list">
      <div class="item">
        Birthday
      </div>
      <div class="item">
        Anniversary
      </div>
      <div class="item">
        Holiday
      </div>
    </div>
  </ion-content>
