<ion-view>
  <ion-nav-bar class="bar-stable">
    <ion-nav-back-button class='button button-small icon-left ion-chevron-left button-clear button-dark'>
    </ion-nav-back-button>
  </ion-nav-bar>
  <div class="bar bar-header bar-royal">
      <h1 class= "title">Get By With a Little Help From Your Friends: Stretchgoal</h1>
  </div>
  <ion-padding>
    <ion-content>
      <ion-toggle
        ng-click="themeCheck = !themeCheck"
        toggle-class="toggle-calm">
        <div
        ng-model="themeCheck"
        ng-class="themeCheck ? 'theme' : 'noTheme'">
        <strong>
          Themed Party?
        </strong>
        </div>
      </ion-toggle>
      <ion-toggle
        ng-click="byobCheck = !byobCheck"
        toggle-class="toggle-calm">
        <div
          ng-model="byobCheck"
          ng-class="byobCheck ? 'byob' : 'supplied'">
          <strong>
            BYOB
          </strong>
        </div>
      </ion-toggle>
      <ion-item class="item-input item-select">
       <div class="input-label">
         <strong>Parking?</strong>
       </div>
       <select>
         <option>Parking Options go here</option>
       </select>
     </ion-item>
      <label class="item item-input item-floating-label">
        <span class="input-label">What's the goal?</span>
        <input placeholder="What is the Goal?" ng-model= "stretchName" type="text">
      </label>
      <label class="item item-input item-floating-label">
        <span class= "input-label">How much is this going to cost?</span>
        <input placeholder="How Much is This Going to Cost" ng-model="stretchGoal" type="number">
      </label>
      <button
        ng-click="stretchGoalData(stretchGoal, stretchName)"
        class="button button-full button-positive">
       Submit Stretchgoooooooal
      </button>
    </ion-content>
  </ion-padding>
</ion-view>
