<ion-view>


  <ion-nav-bar class="bar-stable">
    <ion-nav-back-button class='button button-small icon-left ion-chevron-left button-clear button-dark'>
    </ion-nav-back-button>
  </ion-nav-bar>
  <div class="bar bar-header bar-royal">
      <h1 class= "title">Let's Get This Party Started</h1>
   </div>
  <ion-content>
    <ion-padding>
      <ion-item
      ng-click="newWizPartyPost('{{item}}','{{partySubType.partyType}}')"
      ng-repeat="item in partySubType.subType"
      href="/#/wizard/wizardwhenwhere/{{data.partyID}}">
        {{item}}
      </ion-item>
    </ion-padding>
  </ion-content>
</ion-view>
