<ion-view>
  <ion-nav-bar class="bar-stable">
    <ion-nav-back-button class='button button-small icon-left ion-chevron-left button-clear button-dark'>
    </ion-nav-back-button>
  </ion-nav-bar>
  <div class="bar bar-header bar-royal">
      <h1 class= "title">Get By With a Little Help From Your Friends: Stretchgoal</h1>
  </div>
  <ion-padding>
    <ion-content>
      <ion-toggle toggle-class="toggle-calm">
        <strong>
          Themed Party?
        </strong>
      </ion-toggle>
      <ion-toggle toggle-class="toggle-calm">
        <strong>
          BYOB
        </strong>
      </ion-toggle>
      <ion-item class="item-input item-select">
       <div class="input-label">
         <strong>Parking?</strong>
       </div>
       <select>
         <option>Parking Options go here</option>
       </select>
     </ion-item>
      <label class="item item-input item-floating-label">
        <span class="input-label">What's the goal?</span>
        <input placeholder="What is the Goal?" ng-model= "stretchName" type="text">
      </label>
      <label class="item item-input item-floating-label">
        <span class= "input-label">How much is this going to cost?</span>
        <input placeholder="How Much is This Going to Cost" ng-model="stretchGoal" type="number">
      </label>

      <!-- MAY INCORPORATE LATER -->
      <!-- <label class="item item-input item-floating-label">
        <span class= "input-label">Would you like to pitch in some starter cash?</span>
        <input placeholder="Would you like to pitch in some cash?" ng-model="stretchStatus" type="number">
      </label>
        <h1>{{stretchName}}</h1>
      <!-- <progress
        max={{stretchGoal}}
        value={{stretchStatus}}>
      </progress> -->
      <button
        ng-click="stretchGoalData(stretchGoal, stretchName)"
        class="button button-full button-positive">
       Submit Stretchgoooooooal
      </button>
      <button ui-sref=""
      </button>
    </ion-content>
  </ion-padding>
</ion-view>
