<ion-view>
  <ion-nav-bar class="bar-stable">
    <ion-nav-back-button class='button button-small icon-left ion-chevron-left button-clear button-dark'>
    </ion-nav-back-button>
  </ion-nav-bar>
  <div class="bar bar-header bar-royal">
      <h1 class= "title">Where's This Party Going Down?</h1>
  </div>
  <ion-padding>
    <ion-content>
      <label class="item item-input item-floating-label">
        <span class="input-label"><strong>Party Description: </strong></span>
        <input ng-model="description" type="text" placeholder="Tell Us About Your Party">
      </label>
      <label class="item item-input">
         <span class="input-label">Where the Party At? </span>
         <ion-google-place placeholder= "Enter an Address, Apt#, and ZIP" ng-model="location"></ion-google-place>
      </label>
      <label class="item item-input">
         <span class="input-label">Date and Time: </span>
         <input placeholder= "Pick a Date and Time" ng-model="partyDate" type="datetime-local">
       </label>
        <button
          ng-click="dateAndTimePost(partyDate, location, description)"
          class="button button-full button-positive">
         Submit Date and Location
        </button>
    </ion-content>
  </ion-padding>
</ion-view>
