<ion-view name="wizard-whenwhere">

  <ion-nav-bar class="bar-stable">
    <ion-nav-back-button class='button button-small icon-left ion-chevron-left button-clear button-dark'>
    </ion-nav-back-button>
  </ion-nav-bar>
  <div class="bar bar-header bar-royal">
      <h1 class= "title">Let's Get This Party Started</h1>
    </div>
  <ion-padding>
  <ion-content>

    <h1>EVENT WIZARD - THIRD PAGE</h1>
    <a class='button button-calm icon-left ion-home' href='#/wizard/subType'>View Parties</a>

    <label class="item item-input">
      <span class="input-label">Date</span>
      <input type="date">
      </label>
    </ion-content>
  </ion-padding>
</ion-view>
