<ion-view class="wizard">
  <ion-nav-bar class="bar-stable">
    <ion-nav-back-button class='button button-small icon-left ion-chevron-left button-clear button-dark'>
    </ion-nav-back-button>
  </ion-nav-bar>
  <div class="wizardHeader bar bar-header">
      <h1 class= "title-text-wrap"><span class="textViewHeader">SOME EXTRAS</span></h1>
  </div>
  <ion-padding>
    <ion-content>
      <label class="item item-input item-floating-label">
        <span class="input-label">PARTY DESCRIPTION: </span>
        <input ng-model="description" type="text" placeholder="Tell Us About Your Party">
      </label>
      <ion-toggle
        ng-click="themeCheck = !themeCheck"
        toggle-class="toggle-calm">
        <div
        ng-model="themeCheck"
        ng-class="themeCheck ? 'theme' : 'noTheme'">
          THEMED PARTY?
        </div>
      </ion-toggle>
      <div ng-show="themeCheck" class="item">
        <input ng-model="themeVal" type="text"  placeholder="Whats the theme?">
      </div>
      <ion-toggle
        ng-click="byobCheck = !byobCheck"
        toggle-class="toggle-calm">
        <div
          ng-model="byobCheck"
          ng-class="byobCheck ? 'byob' : 'supplied'">

            BYOB

        </div>
      </ion-toggle>
      <ion-item class="item-input item-select">
       <div class="input-label">
         PARKING?
       </div>
       <select ng-model="parking" ng-change='getParking(parking)'>
         <option value="Valet">VALET</option>
         <option value="On Site">ON SITE</option>
         <option value="Off Site">OFF SITE</option>
       </select>
     </ion-item>
      <button
        ng-click="partyDeetsPatch(description, themeVal, parking)"
        class="button button-full button-positive">
       Submit
      </button>
    </ion-content>
  </ion-padding>
</ion-view>
