<ion-view>
  <ion-nav-bar class="bar-stable">
    <ion-nav-back-button class='button button-small icon-left ion-chevron-left button-clear button-dark'>
    </ion-nav-back-button>
  </ion-nav-bar>
  <div class="bar bar-header bar-royal">
      <h1 class= "title">Where's This Party Going Down?</h1>
  </div>
  <ion-padding>
    <ion-content>
      <label class="item item-input item-floating-label">
        <span class="input-label"><strong>Party Description: </strong></span>
        <input ng-model="description" type="text" placeholder="Tell Us About Your Party">
      </label>
      <ion-toggle
        ng-click="themeCheck = !themeCheck"
        toggle-class="toggle-calm">
        <div
        ng-model="themeCheck"
        ng-class="themeCheck ? 'theme' : 'noTheme'">
        <strong>
          Themed Party?
        </strong>
        </div>
      </ion-toggle>
      <div ng-show="themeCheck" class="item">
        <input ng-model="themeVal" type="text"  placeholder="Whats the theme?">
      </div>
      <ion-toggle
        ng-click="byobCheck = !byobCheck"
        toggle-class="toggle-calm">
        <div
          ng-model="byobCheck"
          ng-class="byobCheck ? 'byob' : 'supplied'">
          <strong>
            BYOB
          </strong>
        </div>
      </ion-toggle>
      <ion-item class="item-input item-select">
       <div class="input-label">
         <strong>Parking?</strong>
       </div>
       <select ng-model="parking" ng-change='getParking(parking)'>
         <option value="Valet">Valet</option>
         <option value="On Site">On Site</option>
         <option value="Off Site">Off Site</option>
       </select>
     </ion-item>
      <button
        ng-click="partyDeetsPatch(description, themeVal, parking)"
        class="button button-full button-positive">
       Submit Date and Location
      </button>
    </ion-content>
  </ion-padding>
</ion-view>
